In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("strategy_results_train.xlsx")

In [3]:
data.head()

                   id  label
0  SHSE.600085_201501      0
1  SHSE.600085_201502      1
2  SHSE.600085_201503      1
3  SHSE.600085_201504      1
4  SHSE.600085_201505      1

In [4]:
data2 = pd.concat( [data.iloc[:, 1], data.iloc[:, 8:]], axis=1)

In [5]:
data2.head()

   label
0      0
1      1
2      1
3      1
4      1

In [6]:
data2.isnull().any()

label    False
dtype: bool

In [7]:
data2 = data2.dropna(axis = 0)
data2.isnull().any()

label    False
dtype: bool

In [8]:
y = data2["label"]
y

0        0
1        1
2        1
3        1
4        1
        ..
31942    1
31943    0
31944    0
31945    0
31946    0
Name: label, Length: 31947, dtype: int64

In [23]:
X = data2.iloc[:, 1:]

In [24]:
X

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[31947 rows x 0 columns]

In [25]:
X.isnull().any()

Series([], dtype: bool)

In [26]:
X = X.dropna(axis = 0)

In [27]:
X.isnull().any()

Series([], dtype: bool)

In [53]:
X.shape

(31947, 0)

In [61]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, y)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: Found array with 0 feature(s) (shape=(31947, 0)) while a minimum of 1 is required.

In [55]:
testdata = pd.read_excel("sampleSubmission.xlsx")

In [31]:
testdata = testdata.fillna(0)
testdata.isnull().any()

id       False
label    False
ma5      False
ma10     False
ma15     False
dtype: bool

In [32]:
testdata.iloc[:, 2:]

             ma5       ma10       ma15
0      27.258000  27.573000  28.198000
1      26.624000  26.698000  26.724667
2      28.890000  28.863000  28.408667
3      29.532000  30.037000  30.157333
4      31.514000  32.125000  32.192000
...          ...        ...        ...
11358  86.210001  86.955000  86.357333
11359  77.136000  80.214001  82.662001
11360  70.966000  71.855001  72.971334
11361  82.976001  79.619000  77.530667
11362  81.462000  82.899000  84.118667

[11363 rows x 3 columns]

In [60]:
result = clf.predict(testdata.iloc[:, 2:])

NotFittedError: This RandomForestClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [62]:
pd.DataFrame(result).to_excel("prediction.xlsx", index=False)

NameError: name 'result' is not defined